@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@font-face {
    font-family: Barcade;
    src: url("../fonts/BarcadeExpanded.otf") format("opentype");
}
@font-face {
    font-family: GamePlayed;
    src: url("../fonts/GamePlayed.ttf") format("truetype");
}

body {
  background-color: black;
  background-image: url(../../images/diablo3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top
}

.flex {
	display: -webkit-flex;
	display: flex;
}

.row {
	-webkit-flex-direction: row;
	flex-direction: row;
}

.col {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.center-horizontal {
	-webkit-justify-content: center;
  	justify-content: center;
}

.center-vertical {
	-webkit-align-items: center;
  	align-items: center;
}

.space-between {
	-webkit-justify-content: space-between;
  	justify-content: space-between;
}

.space-around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

table {
  background-color: rgb(18, 42, 63, 0.5)
}
h1 {
	font-family: "Barcade";
	font-size: 650%;
	margin-bottom: 10%;
	color: #F8B800;
}

h2 {
	font-family: "GamePlayed";
	font-size: 300%;
  color: #0040F8; 
}

.score {
  font-family: "GamePlayed";
	font-size: 250%;
  color: #E000F8;
  text-shadow: -0.5px -0.5px #ffdada;
}

.score.alt {
  color: #C6FF91;
}