@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@font-face {
    font-family: Celtic;
    src: url("../fonts/Celtic.ttf") format("truetype");
}

body {
	background-image: url(../../images/wow-blurb.png);
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 200%;
	background-color: #44525b;
}

#umbrella {
	top: 500px;
    left: -64px;
}

#selections {
	font-family: "Celtic";
}

h4 {
	font-size: 100%;
}

.flex {
	display: -webkit-flex;
	display: flex;
}

.row {
	-webkit-flex-direction: row;
	flex-direction: row;
}

.col {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.center-horizontal {
	-webkit-justify-content: center;
  	justify-content: center;
}

.center-vertical {
	-webkit-align-items: center;
  	align-items: center;
}

.space-between {
	-webkit-justify-content: space-between;
  	justify-content: space-between;
}

.space-around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.header {
  font-family: "Barcade"
}

.heading {
	font-family: GamePlayed;
}