@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@font-face {
    font-family: Barcade;
    src: url("../fonts/BarcadeExpanded.otf") format("opentype");
}
@font-face {
    font-family: GamePlayed;
    src: url("../fonts/GamePlayed.ttf") format("truetype");
}

body {
	font-family: 'Arimo';
	color: white
}

.flex {
	display: -webkit-flex;
	display: flex;
}

.row {
	-webkit-flex-direction: row;
	flex-direction: row;
}

.col {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.center-horizontal {
	-webkit-justify-content: center;
  	justify-content: center;
}

.center-vertical {
	-webkit-align-items: center;
  	align-items: center;
}

.space-between {
	-webkit-justify-content: space-between;
  	justify-content: space-between;
}

.space-around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
  }

#coverSheet {
	color: white;
	text-align: center;
}

#coverSheet h2 {
	font-family: "Barcade";
	font-size: 650%;
	margin-bottom: 10%;
	color: #F8B800;
}

#coverSheet button {
	font-family: "GamePlayed";
	font-size: 300%;
	margin-top: 10%;
	background-color: #940084;
    color: #00FCFC;
}

#registrationForm .header h1 {
	font-family: "GamePlayed";
	font-size: 400%;
	color: #00FCFC;
	margin-bottom: 10%;
	text-align: center;
}

#registrationForm .header span {
	font-size: 150%;
}


.form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form-field::placeholder {
	color: transparent;
}

.form-field:placeholder-shown ~ .form-label {
	font-size: 1.3rem;
	cursor: text;
	top: 20px;
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form-field:focus ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }

.form-field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

/* reset input */
.form-field:required,
.form-field:invalid {
  box-shadow:none;
}

#registrationForm .form-group {
	margin-left: 30px;
}

#registrationForm #playerName {
	font-family: GamePlayed;
    color: #D800CC;
}

#registrationForm button {
	width: 100%;
	height: 100px;
	font-size: 250%;
}